* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #8b0e28;
}
/*==========================================
            HERO NAVBAR START 
==========================================*/
.hero-nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 230px;
}
.nav-inside {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  background-color: rgba(249, 57, 57, 0.037);
  backdrop-filter: blur(100px);
  box-shadow: 0px 7px 13px #ff2d55;
  padding: 17px;
  padding-left: 70px;
  padding-right: 50px;
  border-radius: 30px;
  border: 4px solid rgb(169, 0, 0);
  position: relative;
  inset: 0;
}
.nav-inside li a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 999;
  transition: 0.5s;
  padding: 15px;
  font-weight: 500;
  font-family: sans-serif;
  filter: drop-shadow(1px 2px 5px rgb(224, 162, 162));
}
.nav-span {
  position: absolute;
  top: 5px;
  z-index: -2;
  width: 70px;
  padding: 21px;

  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border-radius: 10px;
  box-shadow: 0px 6px 10px #ff2d55;
  transition: 0.5s;
}
.nav-inside li a:hover {
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border-radius: 10px;
  box-shadow: 0px 6px 10px #ff2d55;
  padding: 15px;
  width: 60px;
  transition: ease-in-out;
  filter: none;
}

.accounts button {
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border: #8b0e28;
  padding: 14px;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 7px 13px #ff2d55;
  transition: 0.5s ease-in-out;
}
.accounts button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in-out;
}

/*=========================================================
                  NAVBAR SECTION END
=========================================================*/

/*=========================================================
            ICON BAR SECTION START 
=========================================================*/

.hero-nav-container-2 {
  display: none;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 230px;
}
.nav-inside-2 {
  display: none;
  flex-direction: row;
  list-style-type: none;
  gap: 4px;
  background-color: rgba(249, 57, 57, 0.037);
  backdrop-filter: blur(100px);
  box-shadow: 0px 7px 13px #ff2d55;
  padding: 17px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  border: 2px solid rgb(169, 0, 0);
  position: relative;
  inset: 0;
}
.nav-inside-2 li a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 999;
  transition: 0.5s;
  padding: 10px;
  font-weight: 500;
  font-family: sans-serif;
  filter: drop-shadow(1px 2px 5px rgb(224, 162, 162));
}
.nav-span-2 {
  position: absolute;
  top: 5px;
  z-index: -2;
  width: 18px;
  padding: 21px;

  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border-radius: 10px;
  box-shadow: 0px 6px 10px #ff2d55;
  transition: 0.5s;
}
.nav-inside-2 li a:hover {
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border-radius: 10px;
  box-shadow: 0px 6px 10px #ff2d55;
  padding: 10px;
  width: 40px;
  transition: ease-in-out;
  filter: none;
}

.accounts-2 button {
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border: #8b0e28;
  padding: 14px;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 7px 13px #ff2d55;
  transition: 0.5s ease-in-out;
}
.accounts-2 button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in-out;
}

/*===========================================================
                HERO MAIN CONTENT START
============================================================*/

.hero-text {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  filter: drop-shadow(4px 20px 30px #ff2d55);
  background-image: url(Images/hero3.jpg);
  background-size: cover;
  background-position: top;
  padding: 40px;
  padding-left: 60px;
  width: 600px;
  position: relative;
  left: 340px;
  border-radius: 30px;
}

#text-setting {
  color: #ff2d55;
}
.hero-btn {
  position: absolute;
  left: 560px;
  bottom: 20px;
}

.hero-btn button {
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  border: #8b0e28;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  box-shadow:
    0px 7px 13px #ff2d55,
    0px -9px 13px #ff2d55;
  transition: 0.5s ease-in-out;
}
.hero-btn button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in-out;
}
/*===========================================================
                HERO MAIN CONTENT END
============================================================*/

/*======================================================
           CARDS SECTION START
========================================================*/

.hero-cards-container h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-top: 150px;
  font-family: "poppins";
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 80px 80px 80px;
  color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.hero-cards-section {
  background-color: rgba(94, 94, 94, 0.459);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 6px 15px #ff2d55;
  transition: 0.3s ease-in-out;
  transform-origin: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  max-width: 360px;
  min-width: 200px;
  height: 400px;
  max-height: auto;
  flex-wrap: wrap;
  flex: 1;
  font-size: 20px;
}
.hero-cards-section:hover {
  box-shadow: 0 8px 40px rgb(253, 88, 88);
  transition: 0.3s ease-in-out;
  transform: translateY(-12px) scaleY(1.06);
}
.hero-cards-section img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 170px;
  width: 100%;
  max-width: 200px;
  transition: transform 0.4s ease;
  filter: drop-shadow(1px 1px 20px #ff2d55);
  border-radius: 50%;
}
.hero-cards-section img:hover {
  transform: scale(1.1);
}

.hero-cards-section h4 {
  margin-bottom: 15px;
  font-size: 19px;
  font-family: poppins;
}
.hero-cards-section span {
  font-size: 16px;
  font-family: poppins;
}
/*======================================================
                  CARDS SECTION END
  ====================================================*/

*//*======================================================
           HERO OPTIONS START
  ==================================================*/
.hero-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 100px;
  background: #000;
}
.hero-options select {
  position: relative;
  left: 395px;

  margin-bottom: 50px;
  padding: 10px;
  background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
  color: rgb(27, 26, 26);
  box-shadow: 0px 7px 13px #ff2d55;
  border: 3px solid rgb(169, 0, 0);
  border-radius: 20px;
  font-weight: 700;
}
#hero-filter select {
  position: relative;
  left: 700px;
  bottom: 87px;

  margin-bottom: 50px;
  padding: 10px;
  background: linear-gradient(70deg, rgb(202, 24, 24), rgb(138, 19, 19));
  color: rgb(27, 26, 26);
  box-shadow: 0px 7px 13px #ff2d55;
  border: 3px solid rgb(169, 0, 0);
  border-radius: 20px;
  font-weight: 700;
}
/*======================================================
           HERO OPTIONS END
  ==================================================*/
/*======================================================
            ABOUT SECTION START
  ==================================================*/
.hero-about {
  margin: 100px;
  padding: 50px;
  background: rgba(249, 57, 57, 0.037);
  backdrop-filter: blur(100px);
  box-shadow: 0px 7px 13px #ff2d55;
  border-radius: 30px;
  border: 4px solid rgb(169, 0, 0);
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  text-align: center;
}
.hero-about h3 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #f2f1f1;
}
/*======================================================
            ABOUT SECTION END
  ==================================================*/
/*==========================================================
            FOOTER SECTION START
  ===========================================================*/
.hero-footer {
  background: rgba(249, 57, 57, 0.037);
  backdrop-filter: blur(100px);
  box-shadow: 0px -7px 13px #ff2d55;
  border-radius: 30px;
  border: 4px solid rgb(169, 0, 0);
  color: white;
  text-align: center;
  padding: 30px;
  font-family: "poppins", sans-serif;
  margin-top: 160px;
}
.hero-footer .footer-content h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.hero-footer .footer-content p {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-socials a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 15px;
  transition: 0.3s ease-in-out;
}
.footer-socials a:hover {
  color: #ff2d55;
  transform: scale(1.2, 1.2);
  transition: 0.3s ease-in-out;
}
/*==========================================================
            FOOTER SECTION END
  ===========================================================*/

/*=====================================
           ANIMATIONS
=====================================*/
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textReveal {
  from {
    opacity: 0;
    letter-spacing: 10px;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    letter-spacing: 0;
    transform: translateY(0);
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px #ff2d55;
  }
  50% {
    box-shadow: 0 0 30px #ff2d55;
  }
  100% {
    box-shadow: 0 0 10px #ff2d55;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*=====================================
        NAVBAR ANIMATION
=====================================*/
.hero-nav-container {
  animation: fadeDown 1s ease forwards;
}

.nav-inside li {
  opacity: 0;
  animation: fadeDown 0.8s ease forwards;
}

.nav-inside li:nth-child(1) {
  animation-delay: 1s;
}
.nav-inside li:nth-child(2) {
  animation-delay: 1.2s;
}
.nav-inside li:nth-child(3) {
  animation-delay: 1.4s;
}
.nav-inside li:nth-child(4) {
  animation-delay: 1.6s;
}
/*=================================================
               ICON BAR SECTION
===================================================*/

.hero-nav-container-2 {
  animation: fadeDown 1s ease forwards;
}

.nav-inside-2 li {
  opacity: 0;
  animation: fadeDown 0.8s ease forwards;
}

.nav-inside-2 li:nth-child(1) {
  animation-delay: 1s;
}
.nav-inside-2 li:nth-child(2) {
  animation-delay: 1.2s;
}
.nav-inside-2 li:nth-child(3) {
  animation-delay: 1.4s;
}
.nav-inside-2 li:nth-child(4) {
  animation-delay: 1.6s;
}

/*=====================================
        HERO TEXT REVEAL
=====================================*/
.hero-text {
  animation: textReveal 2s ease forwards;
  animation: float 3s ease-in-out infinite;
}
.hero-text span {
  animation: textReveal 2s ease forwards;
  animation-delay: 0.1s, 0.2s.3s, 0.4s, 0.5s, 0.6s, 0.7s, 0.8s, 0.9s;
}

/*=====================================
        HERO BUTTON PULSE
=====================================*/
.hero-btn button {
  animation: pulseGlow 1.5s infinite;
}

.hero-cards-container > h3 {
  opacity: 0;
  animation: appear 1.3s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 4%;
}
/*=====================================
        CARDS SCROLL ANIMATION
=====================================*/
.hero-cards-section {
  opacity: 0;
  animation: fadeUp 1.6s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* stagger cards */
.hero-cards-section:nth-child(1) {
  animation-delay: 0.1s;
}
.hero-cards-section:nth-child(2) {
  animation-delay: 0.3s;
}
.hero-cards-section:nth-child(3) {
  animation-delay: 0.5s;
}
.hero-cards-section:nth-child(4) {
  animation-delay: 0.7s;
}

/*=====================================
        ABOUT SECTION REVEAL
=====================================*/
.hero-about {
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

/*=====================================
        FOOTER REVEAL
=====================================*/
.hero-footer {
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
/*=====================================
        END OF ANIMATIONS
========================================*/

/*=====================================
        MEDIA QUERIES START
=====================================*/
@media screen and (max-width: 1200px) {
  .hero-text {
    width: 90%;
    left: 50px;
    font-size: 30px;
    padding: 30px;
  }
  .hero-nav-container {
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .hero-nav-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .hero-text {
    width: 90%;
    left: 20px;
    font-size: 25px;
    padding: 20px;
    margin-top: 50px;
  }
  .hero-btn {
    position: static;
    margin-top: 20px;
  }
  .hero-cards {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 450px) {
  .hero-text {
    font-size: 20px;
    padding: 15px;
  }
  .hero-nav-container {
    display: none;
  }
  .nav-inside {
    display: none;
  }

  .hero-nav-container-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 4px;
  }
  .nav-inside-2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
    background-color: rgba(249, 57, 57, 0.037);
    backdrop-filter: blur(100px);
    box-shadow: 0px 7px 13px #ff2d55;
    padding: 17px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border: 2px solid rgb(169, 0, 0);
    position: relative;
    inset: 0;
  }
  .nav-inside-2 li a {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 999;
    transition: 0.5s;
    padding: 10px;
    font-weight: 500;
    font-family: sans-serif;
    filter: drop-shadow(1px 2px 5px rgb(224, 162, 162));
  }
  .nav-span-2 {
    position: absolute;
    top: 5px;
    z-index: -2;
    width: 18px;
    padding: 21px;

    background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
    border-radius: 10px;
    box-shadow: 0px 6px 10px #ff2d55;
    transition: 0.5s;
  }
  .nav-inside-2 li a:hover {
    background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
    border-radius: 10px;
    box-shadow: 0px 6px 10px #ff2d55;
    padding: 10px;
    width: 40px;
    transition: ease-in-out;
    filter: none;
  }

  .accounts-2 button {
    background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
    border: #8b0e28;
    padding: 14px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    box-shadow: 0px 7px 13px #ff2d55;
    transition: 0.5s ease-in-out;
    margin-top: 6px;
  }
  .accounts-2 button:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s ease-in-out;
  }

  .hero-text {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: white;
    font-weight: 800;
    font-family: sans-serif;
    filter: drop-shadow(4px 20px 30px #ff2d55);
    background-image: url(Images/hero3.jpg);
    background-size: cover;
    background-position: top;
    padding: 40px;
    padding-left: 60px;
    width: 270px;
    height: 280px;
    position: relative;
    left: 39px;
    border-radius: 30px;
  }

  #text-setting {
    color: #ff2d55;
  }
  .hero-btn {
    position: absolute;
    left: 95px;
    bottom: 170px;
  }

  .hero-btn button {
    background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
    border: #8b0e28;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    box-shadow:
      0px 7px 13px #ff2d55,
      0px -9px 13px #ff2d55;
    transition: 0.5s ease-in-out;
  }
  .hero-btn button:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s ease-in-out;
  }

  .hero-cards-container h3 {
    font-size: 40px;
    text-align: center;
  }

  .hero-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .hero-about {
    margin-left: 30px;
    height: 300px;
    width: 300px;
    background: rgba(249, 57, 57, 0.037);
    backdrop-filter: blur(100px);
    box-shadow: 0px 7px 13px #ff2d55;
    border-radius: 30px;
    border: 4px solid rgb(169, 0, 0);
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 8px;
    text-align: center;
  }
  .hero-about h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #f2f1f1;
  }

  .hero-about p {
    font-size: 8px;
    height: 60px;
    margin-bottom: 60px;
    font-weight: 600;
  }

  .hero-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 100px;
  }
  .hero-options select {
    position: relative;
    left: 2px;

    margin-bottom: 50px;
    padding: 10px;
    background: linear-gradient(70deg, rgb(138, 19, 19), rgb(202, 24, 24));
    color: rgb(27, 26, 26);
    box-shadow: 0px 7px 13px #ff2d55;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 20px;
    font-weight: 700;
  }
  #hero-filter select {
    position: relative;
    left: 107px;
    bottom: 87px;

    margin-bottom: 50px;
    padding: 10px;
    background: linear-gradient(70deg, rgb(202, 24, 24), rgb(138, 19, 19));
    color: rgb(27, 26, 26);
    box-shadow: 0px 7px 13px #ff2d55;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 20px;
    font-weight: 700;
  }
}
/*================================================
          MEDIA QUERIES END
=================================================*/
